.weui-cells.weui-cells_after-title(:for="el in data")
    .weui-cell(:if="!el.url")
        .weui-cell__hd(:if="el.imgUrl")
            image.avatar(src="{{el.imgUrl}}")
        .weui-cell__bd {{el.title}}
        .weui-cell__ft {{el.after}}
    navigator.weui-cell.weui-cell_access(:url="el.url" hover-class="weui-cell_active" :if="el.url")
        .weui-cell__hd(:if="el.imgUrl")
            image.avatar(src="{{el.imgUrl}}")
        .weui-cell__bd {{el.title}}
        .weui-cell__ft.weui-cell__ft_in-access {{el.after}}