include ../../pug/weui-mixins
    
+page-title('编辑资料')
+page-bd
    +weui-cells
        +weui-input('昵称', { ph: '请输入昵称', e: 'inputNickName' })
        +weui-input-select-title({ label: '性别', value: 'sexRange[sex]', change: 'inputSex', rangeEl: '{{sexRange[sex]}}', range: 'sexRange' })
        +weui-input-date-picker('生日', { value: '{{birthday}}', start: '1950-01-01', end: '2017-01-01', change: 'inputBirthday' })
        +weui-input('手机号', { type: 'number', ph: '请输入手机号', e: 'inputPhone' })
        +weui-input('微信号', { type: 'text', ph: '请输入微信号', e: 'inputWechatId' })
+page-bd-spacing
    button.weui-btn(type="primary") 保存