include ../../pug/weui-mixins

.page
    +page-title('唯羽者羽毛球俱乐部')
    +page-bd
        +weui-cells
            +weui-list-avatar('/img/lcw.jpg', '学过无痕', '拨打')
            +weui-list('10月3日 周二', '20:00-22:00')
            +weui-list('红牌楼羽毛球馆 0.1km', '导航')
            +weui-list('活动收费', '￥35')
            +weui-list('已报名', '2/12')
        +weui-cell-title('活动介绍')
        +weui-cells
            .weui-article 活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍活动介绍
    +page-bd-spacing
        button.weui-btn(type="primary") 报名