.page 
    .section.header
        .left
            .avatar
                image(src="./img/lcw.jpg")
            .name 刘冰心
        .right 打电话
    .section.date
        .left
            .label 今天
            .display-date 12月2日
        .right 20:00～22:00
    .section.location.flex
        .left.flex-1 1906羽毛球馆 0.1km
        .right 开始导航
    .section.members

    .signup-btn 立即报名