.page 
    .section.header
        .left
            .avatar
                image(src="./img/lcw.jpg")
            .name {{info.userInfo.nickname}}
        .right 打电话
    .section.date
        .left
            .label 今天
            .display-date 12月2日
        .right 20:00～22:00
    .section.location.flex
        .left.flex-1 1906羽毛球馆 0.1km
        .right 开始导航
    .section.members
    
    weui-list(data="{{listData}}")

    .signup-btn(@tap="signup") 立即报名