include ../../pug/weui-mixins
.page
    +weui-search-bar('请输入地址，如“桐梓林”')
    +weui-search-result
         +weui-cells
            +weui-list-arrow('', '1906球馆', '', 'goLocation')
            +weui-list-arrow('', '大世界球馆', '', 'goLocation')
            +weui-list-arrow('', '瑞德羽毛球馆', '', 'goLocation')
    .page__bd(:show="!inputVal")
        +weui-cell-title('当前地址')
        +weui-cells
            +weui-list-arrow('', '成都市高攀路', '重新定位', 'reLocation')
        +weui-cell-title('常去的地址')
        +weui-cells
            +weui-list-arrow('', '成都市桐梓林', '', 'goLocation')
            +weui-list-arrow('', '成都市桐梓林', '', 'goLocation')
            +weui-list-arrow('', '成都市桐梓林', '', 'goLocation')
