include ../../pug/weui-mixins
.page
    +page-title('创建活动')
    .page__bd
        .weui-cells.weui-cells_after-title
            .weui-cell.weui-cell_input
                .weui-cell__hd
                    .weui-label 活动球馆
                .weui-cell__bd
                    input.weui-input(placeholder="请输入活动球馆" bindinput="arenaInput")
            .weui-cell.weui-cell_input
                .weui-cell__hd
                    .weui-label 人数限制
                .weui-cell__bd
                    input.weui-input(type="number" placeholder="请输入人数限制" bindinput="limitInput")
            .weui-cell.weui-cell_input
                .weui-cell__hd
                    .weui-label 联系方式
                .weui-cell__bd
                    input.weui-input(type="number" placeholder="请输入手机号" bindinput="phoneInput")
            .weui-cell.weui-cell_input
                .weui-cell__hd
                    .weui-label 日期
                .weui-cell__bd
                    picker(mode="date" start="2017-09-01" end="2018-09-01" @change="bindDateChange")
                        .weui-input {{date}}
            .weui-cell.weui-cell_input
                .weui-cell__hd
                    .weui-label 开始时间
                .weui-cell__bd
                    picker(mode="time" value="{{timeStart}}" start="06:00" end="23:59" @change="bindTimeChange")
                        .weui-input {{timeStart}}
            .weui-cell.weui-cell_input
                .weui-cell__hd
                    .weui-label 结束时间
                .weui-cell__bd
                    picker(mode="time" value="{{timeEnd}}" start="06:00" end="23:59" @change="bindTimeEndChange")
                        .weui-input {{timeEnd}}
            .weui-cell.weui-cell_input
                .weui-cell__hd
                    .weui-label 收费
                .weui-cell__bd
                    input.weui-input(type="number" placeholder="请输入费用" bindinput="chargeInput")
            .weui-cell.weui-cell_input
                .weui-cell__hd
                    .weui-label 最晚报名时间
                .weui-cell__bd
                    input.weui-input(type="number" placeholder="请输入最晚报名时间" bindinput="joinDeadlineInput")
            .weui-cell.weui-cell_input
                .weui-cell__hd
                    .weui-label 取消报名截止
                .weui-cell__bd
                    input.weui-input(type="number" placeholder="" bindinput="cancelDeadlineInput")
        +weui-cell-title('活动介绍')
        .weui-cells.weui-cells_after-title
            .weui-cell
                .weui-cell__bd
                    textarea.weui-textarea(placeholder="请输入活动介绍" style="height: 5.3em" bindinput="introInput")
                    .weui-textarea-counter 0/200
    +page-bd-spacing
        button.weui-btn(type="primary" @tap="submit") 创建