.page {
  padding-bottom: 40rpx;
}
.page .weui-label.small {
  font-size: 26rpx;
  line-height: 88rpx;
}
.page .weui-cells {
  margin-bottom: 20rpx;
}
.page .weui-cell.weui-cell_input {
  justify-content: space-between;
}
.page .weui-cell.weui-cell_input .weui-cell__bd {
  flex: initial;
  flex-basis: 400rpx;
}
