.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.icon.plus-white {
  background-image: url('img/plus-white.png');
}
.icon.me-activity {
  background-image: url('img/me-activity.png');
}
.icon.me-club {
  background-image: url('img/me-club.png');
}
.icon.me-notification {
  background-image: url('img/me-notification.png');
}
.icon.index-location {
  background-image: url('img/location.png');
}
.weui-navbar__slider {
  transition: left 0.3s;
}
.weui-navbar__item:first-child .weui-navbar__title:before {
  content: '';
  width: 35rpx;
  height: 35rpx;
  vertical-align: text-bottom;
  margin-right: 6rpx;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-image: url('img/location.png');
}
.weui-navbar__item:first-child .weui-navbar__title:before.plus-white {
  background-image: url('img/plus-white.png');
}
.weui-navbar__item:first-child .weui-navbar__title:before.me-activity {
  background-image: url('img/me-activity.png');
}
.weui-navbar__item:first-child .weui-navbar__title:before.me-club {
  background-image: url('img/me-club.png');
}
.weui-navbar__item:first-child .weui-navbar__title:before.me-notification {
  background-image: url('img/me-notification.png');
}
.weui-navbar__item:first-child .weui-navbar__title:before.index-location {
  background-image: url('img/location.png');
}
.weui-media-box__desc + .weui-media-box__desc {
  margin-top: 8rpx;
  display: flex;
}
.weui-media-box__desc + .weui-media-box__desc .right {
  flex: 1;
  text-align: right;
}
.weui-panel {
  margin-top: 0;
}
.weui-panel:before {
  border-top: 0;
}
.weui-panel .weui-media-box__thumb {
  border-radius: 26rpx;
}
.float-btn {
  position: fixed;
  width: 100rpx;
  height: 100rpx;
  right: 50rpx;
  bottom: 100rpx;
  background-color: #3ba686;
  z-index: 999999;
  border-radius: 50%;
}
.float-btn .icon {
  width: 60rpx;
  height: 60rpx;
  margin: 0 auto;
  margin-top: 20rpx;
  display: block;
}
.page__bd {
  padding-bottom: 0;
}
.weui-panel::after {
  border-bottom: 0;
}
