.weui-navbar__slider {
    transition: left 0.3s;
}

// .weui-search-bar {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 9999;
// }

.weui-tab {
    // margin-top: 100rpx;
}

.weui-media-box__desc + .weui-media-box__desc {
    margin-top: 8rpx;
    display: flex;
    .left {
    }
    .right {
        flex: 1;
        text-align: right;
    }
}

.weui-panel {
    margin-top: 0;  
    &:before {
        border-top: 0;
    }
}