@import "../../style/color-vars.less";
@import "../../style/icon.less";

page {
    background-color: #fafafa;
}
.page {
    .userinfo {
        padding: 50rpx 40rpx;
        display: flex;
        background-color: @mainColor1;
        border-bottom: 1px solid #f0f0f0;
        .left {
            display: flex;
            .avatar {
                image {
                    width: 100rpx;
                    height: 100rpx;
                    border-radius: 26rpx;
                    vertical-align: middle;
                }
            }
            .name {
                font-size: 36rpx;
                align-self: center;
                margin-left: 30rpx;
                color: #fff;
            }
        }
        .right {
            flex: 1;
            align-self: center;
            text-align: right;
            button {
                font-size: 28rpx;
                color: #111;
                padding: 6rpx 20rpx;
                line-height: 50rpx;
                border-radius: 5px;
                border: 1px solid #4fa79e;
                margin-left: 0;
                margin-right: 0;
                display: inline;
            }
        }
    }
    .section {
        margin-bottom: 30rpx; 
        background-color: #fff;
        &.info {
            display: flex;
            text-align: center;
            padding: 36rpx 0;
            .item {
                flex: 1;
                align-items: center;
                font-size: 40rpx;
                color: #111;
                .top {
                    font-weight: bold;
                    margin-bottom: 20rpx;
                }
                .name {
                    color: #111;
                    font-size: 24rpx;
                }
            }
        }
        &.btns {
            display: flex;
            text-align: center;
            padding: 36rpx 0;
            .item {
                flex: 1;
                .icon {
                    width: 60rpx;
                    height: 60rpx;
                    margin-bottom: 20rpx;
                }
            }
        }
    }
}

// .page {
//     .weui-media-box__bd {
//         overflow: hidden;
//         .right {
//             float: right;
//         }
//     }
// }