include ../../pug/weui-mixins
.page
    .userinfo
        .left
            .avatar
                image(src="./img/lcw.jpg")
            .name 李宗伟
        .right
            button(@tap="edit") 编辑
    .section.info.border-bottom
        .item 
            .top 17
            .name 好友
        .item
            .top 86
            .name 总运动/h
        .item
            .top 10
            .name 总报名/次
    .section.btns.border
        .item
            .icon.me-activity
            .name 活动
        .item
            .icon.me-club
            .name 俱乐部
        .item
            .icon.me-notification
            .name 消息
    //- .section.club-manage
        .item
            .icon.me-edit
            .name 编辑资料
        .item
            .icon.me-activity
            .name 活动管理
        .item
            .icon.me-wallet
            .name 钱包
        .item
            .icon.me-album
            .name 相册管理
    .section.weui-cells
        +weui-list-arrow('', '我的头衔', '球疯子')
        +weui-list-arrow('', '邀请好友', '')
        +weui-list-arrow('', '客服帮助', '')
        +weui-list-arrow('', '关于', '')

