view.page
    view.userinfo
        view.left
            view.avatar
                image(src="./img/lcw.jpg")
            view.name 李宗伟
        view.right
            button(@tap="edit") 编辑
    view.info
        view.item 
            view.name 总运动/小时
            view.after 58
        view.item
            view.name 总报名/次
            view.after 17